.containerContato {
   max-width: 350px;
   margin: 0 auto;
   height: 60vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 5rem;

}

.containerContato .heroContato {
   display: flex;
   flex-direction: column;

   justify-content: center;
}

.containerContato .heroContato h1 {
   font-size: 32px;
   margin-bottom: 1rem;
}

.containerContato .heroContato .content02 {
   display: flex;
   flex-direction: column;
}
.containerContato .heroContato .content01 {
   margin-top: 14px;
}

.containerContato .heroContato  div a{
   margin-top: 14px;
   text-decoration: none;
   font-size: 16px;
   color: rgb(0, 0, 0);
}
.containerContato .heroContato  div a:hover{
   
   color: rgba(0, 0, 0, 0.534);
}

.containerContato img {
   border-radius: 20px;
   height: 250px;
   width: 400px;
   margin-top: 1.5rem;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}

@media screen and (min-width: 700px) {
   .containerContato {
      max-width: 1200px;
      flex-direction: row;
      justify-content: center;
      align-items: start;
   }

   .containerContato .heroContato {
      
      margin-top: 2rem;
   }

   .containerContato img {
      border-radius: 20px;
      height: 380px;
      width: 560px;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-right: 0.5rem;
   }
}
