.inicio-container {
  background: #0c0c0c;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   padding:0 1rem;
   position: relative;
   margin-top: -80px;
   color: #fff;

}

.inicio-container::before {
  content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2;
      background: linear-gradient(
         180deg, 
         rgba(0, 0, 0, 0.2) 0%, 
         rgba(0, 0, 0, 0.6) 100%
      ), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);

}

.inicio-container .herobg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inicio-container .herobg .videobg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.inicio-container .herocontent{
  z-index: 3;
   height: calc(100vh-80px);
   max-width: 100%;
   padding: 0rem calc((100vw-1300px) / 2);
}

.inicio-container .herocontent .heroitens{
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100vh;
   max-height: 100%;
   padding: 0;
   color: #FFFFFF;
   line-height: 1.1;
   font-weight: bold;
}

.inicio-container .herocontent .heroitens h1{
   font-size: clamp(2.5rem, 6vw, 5rem);
   margin-bottom: 1.5rem;
   letter-spacing: 3px;
   padding: 0 1rem;
}

.inicio-container .herocontent .heroitens p{
  font-size: clamp(1.5rem, 3vw, 3rem);
   margin-bottom: 2rem;
}

.inicio-container .herocontent .heroitens .buttonlocation{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  width: 140px;
  height: 38px;
  background-color: #0BF0FF;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.inicio-container .herocontent .heroitens .buttonlocation:hover{
  background-color: #48C857;
}

.inicio-container .herocontent .heroitens .buttonlocation svg {
  color: #fff;
  font-size: 1.5rem;
}

.inicio-container .herocontent .heroitens .buttonlocation a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1rem;
  text-decoration: none;
  color: #FFF;
} 