.containerFooter {
   height: 280px;
   margin: 0 auto;
   background-color: #53b9c0;
   display: flex;
   flex-direction: column;


}

.containerFooter .heroFooter { 
   max-width: 500px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;

}

.containerFooter .heroFooter .logoImg  img{ 
   width: 200px;
   height: 200px;
}

.containerFooter .heroFooter p { 
   color: #ffff;
}

.containerFooter .heroFooter  a { 
   text-decoration: none;
}

.containerFooter .heroFooter div { 
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: #FFFF;
   margin-left: 3rem;
   margin-top: 2rem;
}

.containerFooter .heroFooter div a { 
   text-decoration: none;
   color: #FFFF;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 0.5rem;
   font-size: 0.7rem;
}

.containerFooter .heroFooter div a h2{ 
   margin-left: 1rem;
}
 
.containerFooter .heroFooter div a h2:hover{ 
   color: rgba(255, 255, 255, 0.589);

}

@media screen and (min-width: 700px) {
   .containerFooter .heroFooter {
      max-width: 1200px;

   }
}
